.body{
    background-color: rgba(17, 17, 35, 0.959);
    display: flex;
    text-align: center;
    justify-content: center;
    color:white;
}

h1{
    font-size: 50px;
}

button{
    background-color: rgb(47, 133, 47);
    padding: 15px;
    border: none;
    border-radius: 5px;
    color:white;
}

p{
    color:rgb(117, 112, 112);
    font-size: 20px;
}